<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
<script src="~/Content/js/jquery.equalheights.js"></script>
<script src="~/Content/js/jquery.ui.totop.js"></script>
<script src="~/Content/js/jquery.easing.1.3.js"></script>
<script>
    $(document).ready(function () {

        $().UItoTop({ easingType: 'easeOutQuart' });
    })
</script>
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content">
    <div class="ic"></div>
    <div class="container_12">
        <div class="grid_8">
            <h3>Giới thiệu</h3>
            <p>
                Restaurant ra đời vào ngày 05 tháng 05 năm 1998. Với thực đơn đa dạng phong phú hải sản, đặc sản,các món dân gian,...
                kết hợp với phong cách phục vụ chuyên nghiệp và thân thiện, khung cảnh đẹp mà giá cả lại hợp lý phải chăng. Restaurant đang
                được biết đến như là một trong những thương hiệu ẩm thựcnổi tiếng. Điều đáng nói nữa là thực khách đến đây thưởng thức ẩm thực hoàn toàn
                yên tâm về sức khỏe vì nhà hàng chế biến "Không dùng dầu tái sinh, phẩm màu. Chỉ sử dụng thực phẩm tươi sống an toàn vệ sinh tuyệt đối."
            </p>
            <img src="~/Content/images/page2_img.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
                <p> Restaurant chúng tôi tổ chức các loại hình Tiệc Cưới - Sinh Nhật - Hội Nghị - Sự Kiện với quy mô lớn...</p>
                <p> Được thiết kế với phong cách kiến trúc hiện đại. Từng sảnh tiệc được đầu tư quy mô; với trang thiết bị nội thất sang trọng làm tôn vinh cho từng buổi tiệc hài lòng quan khách tham dự.</p>
            </div>
            <br />
            <p> Quản lý, Điều hành bởi Đội ngũ nhân viên trẻ, năng động làm việc chuyên nghiệp, tận tâm với nghiệp vụ chuyên môn cao mang lại sự chu đáo trong từng chi tiết; mang đến sự hài lòng cho quý; khách trong từng buổi tiệc.</p>
            <img src="~/Content/images/DSC_1770-Copy-447x335.jpg" alt="" class="DSC_1770-Copy-447x335.jpg">
            <p> </p>
            <img src="~/Content/images/77792ccb8da2c5-metropole_0136.jpg" alt="" class="77792ccb8da2c5-metropole_0136.jpg">
            <p> </p>
            <p> Không gian tổ chức tiệ cưới rộng rãi, thoải mái kết hợp với phong cách trang trí, bố trí độc đáo của Restaurant.</p>
        </div>


        <div class="grid_4">
            <h3>Dịch vụ</h3>
            <ul class="list">
                <img src="~/Content/images/07-copy-447x335.jpg" alt="" class="07-copy-447x335.jpg">
                <li><a href="#">Dịch vụ chụp ảnh cưới "5,000,000đ/Album"</a></li>
                <p> </p>
                <img src="~/Content/images/Hinh2-447x335.jpg" alt="" class="Hinh2-447x335.jpg">
                <li><a href="#">Calie Makeup</a></li>
            </ul>
        </div>
    </div>
</div>

