
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<h3 class="head2">Đơn đặt tiệc đã tạo thành công.</h3>
<div style="text-align:center;font-size:18px">
    @Html.ActionLink("Trở về trang chủ", "Index", "NhanVien")
</div>



