
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="ic"></div>
    <div class="container_12">
        <div class="grid_12">
            <h3 class="head2">Thông tin chi tiết</h3>
            <br />
            <a>
            </a>
            <br />
        </div>

        <div class="tabs tb gallery">
            <div class="div-tabs">
                <img src="~/Content/ThucDon/@Model.Hinh" style="width:400px;height:250px" />
                <br />
                <br />
                <h4>Tên món: @Model.TenMonAn </h4>
                <br />
                <p><span>Mô tả: </span>@Model.MoTa</p>
                <br />
                <p>Giá:<span> @String.Format("{0:0,0}", Model.DonGia) VNĐ </span></p>
                <br />
                <br /><br /><br /><br /><br /><br />
                <div>
                    <h4 class="bt-icon">@Html.ActionLink("Quay lại trang thực đơn", "ThucDon", "Admin")</h4>
                </div>
            </div>
        </div>
    </div>
</div>



