
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="ic"></div>
    <div class="container_12">
        <div class="grid_12" style="text-align:center">
            <br /><br /><br /><br />
            <a href="https://imgur.com/xk46YsQ"><img src="https://i.imgur.com/xk46YsQ.gif" title="source: imgur.com" /></a>
        </div>
    </div>
</div>




